.product-item a {
  text-decoration : none;
}

.product-item p {
  margin : 0;
}

.product-item .product-name {
  margin-bottom : 5px;
  color         : #1c2534;
  font-size     : 16px;
}

.product-logo {
  display        : inline-block;
  margin-right   : 10px;
  margin-bottom  : 14px;
  vertical-align : top;
}

.product-item:last-of-type .product-logo {
  margin-bottom : 7px;
}

.product-item .desc {
  display : inline-block;
  width   : 55%;
}

.product-item .desc p {
  color     : #7c8695;
  font-size : 14px;
}

.product-item .creds-description {
  margin-top    : -2px;
  margin-bottom : -1px;
  line-height   : 1.3;
}

.product-item .creds-text {
  line-height : 1.2;
}
