.product-item a {
    text-decoration: none;
}

.product-item p {
    margin: 0;
}

.product-item .product-name {
    font-size: 16px;
    color: #1c2534;
    margin-bottom: 5px;
}

.product-logo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 18px;
    margin-right: 10px;
}

.product-item:last-of-type .product-logo {
    margin-bottom: 8px;
}

.product-item .desc {
    width: 55%;
    display: inline-block;
}

.product-item .desc p {
    font-size: 14px;
    color: #7c8695;
}

.product-item .creds-description {
    margin-top: -2px;
    margin-bottom: 2px;
}