.credentials {
  margin-top   : 9px;
  padding-left : 14px;
  color        : #b7bfcd;
  font-size    : 12px;
}

.credentials a {
  color           : #b7bfcd;
  text-decoration : none;
}

.credentials a:visited {
  color           : #b7bfcd;
  text-decoration : none;
}

.credentials a:hover {
  color           : #000;
  text-decoration : none;
}

.copyright {
  margin-bottom : 12px;
}

.terms {
  margin-right : 18px;
}
