.service-nav-item {
  padding         : 0;
  color           : #59606b;
  text-decoration : none;
  font-size       : 16px;
}

.service-nav-item:hover {
  color : black;
}

.service-nav-item p {
  margin      : 17px 0 17px 0;
  line-height : 1;
}

.service-image {
  display      : inline-block;
  float        : left;
  margin-top   : 14px;
  margin-right : 26px;
  margin-left  : 13px;
}

.service-nav-item:first-of-type .service-image {
  margin-top : -3px;
}

.service-nav-item:nth-of-type(3) .service-image {
  margin-top  : 11px;
  margin-left : 15px;
}

.service-nav-item:nth-of-type(4) .service-image {
  margin-top  : 10px;
  margin-left : 16px;
}

.nav-hr {
  display : block;
  margin  : 0 auto;
  border  : none;
}
