.nav-item {
    text-decoration: none;
    color: #59606b;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.nav-item:hover {
    color: black;
}

.service-image {
    display: inline-block;
    float: left;
    margin-left: 13px;
    margin-right: 26px;
    margin-top: 14px;
}

.nav-item:first-of-type .service-image {
    margin-top: 0px;
}

.nav-item:nth-of-type(3) .service-image {
    margin-left: 16px;
}

.nav-item:nth-of-type(4) .service-image {
    margin-left: 17px;
}

.nav-hr {
    display: block;
    margin: 0 auto;
    border: none;
}