footer {
  margin-top : 94px;
}

.footer-creds {
  width     : 90%;
  max-width : 1280px;
  margin    : 29px auto;
  color     : #b7bfcd;
  font-size : 12px;
}

.footer-creds .footer-copyright {
  display       : inline;
  float         : left;
  margin        : 0;
  margin-bottom : 30px;
}

.footer-creds .footer-list {
  float           : right;
  margin          : 0;
  list-style-type : none;
}

.footer-creds .footer-list>li {
  display     : inline;
  margin-left : 15px;
}
