.about-section {
    padding-top: 89px;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.about-section .about-title {
    font-size: 30px;
    color: #1c2534;
    text-align: center;
    margin-bottom: 33px;
}

.about-section .about-text {
    font-size: 16px;
    color: #7c8695;
    line-height: 1.5;
}