.friend-item a {
  text-decoration : none;
}

.friend-item p {
  margin : 0;
}

.friend-item .friend-name {
  margin-bottom : 5px;
  color         : #1c2534;
  font-size     : 16px;
}

.friend-logo {
  display        : inline-block;
  margin-right   : 10px;
  margin-bottom  : 14px;
  vertical-align : top;
}

.friend-item:last-of-type .friend-logo {
  margin-bottom : 12px;
}

.friend-item .creds-job {}

.friend-item .desc {
  display : inline-block;
  width   : 50%;
}

.friend-item .desc p {
  color     : #7c8695;
  font-size : 14px;
}

.friend-item .follow {
  color     : #1c2534;
  font-size : 12px;
}
