.comp-item a {
  text-decoration : none;
}

.comp-item p {
  margin : 0;
}

.comp-logo {
  display        : inline-block;
  margin-right   : 10px;
  margin-bottom  : 20px;
  vertical-align : top;
}

.comp-item:last-of-type .comp-logo {
  margin-bottom : 8px;
}

.desc {
  display    : inline-block;
  margin-top : -3px;
}

.comp-item .company-title {
  color     : #1c2534;
  font-size : 16px;
  /* margin-bottom: 3px; */
}

.comp-item .creds-type {
  color     : #7c8695;
  font-size : 14px;
  /* margin-bottom: 3px; */
}

.comp-item .creds-place {
  color     : #7c8695;
  font-size : 14px;
  /* margin-bottom: 1px; */
}

.comp-item .follow {
  color     : #1c2534;
  font-size : 12px;
}
