.comp-items {
    padding: 0 15px 0 13px;
}

.sec-head {
    color: #7c8695;
    font-size: 14px;
    /* margin: 14px 15px 13px 13px; */
}

.see-all {
    text-decoration: none;
    float: right;
    color: #1c2534;
}