.comp-items {
  padding : 11px 15px 0 13px;
}

.sec-head {
  color     : #7c8695;
  font-size : 14px;
}

.see-all {
  float           : right;
  color           : #1c2534;
  text-decoration : none;
}
