.service-item {
  display        : inline-block;
  width          : 33%;
  height         : 190px;
  margin         : 0.06667%;
  margin-bottom  : 11px;
  vertical-align : top;
}

.service-item:hover {
  color : #71973c;
}

.service-item img {
  width   : 88%;
  padding : 8px;
  border  : 1px solid #e0e2e6;
}

.service-item img:hover {
  background-color : #f4f7fb;
}

.service-item p {
  width     : 85%;
  margin    : 7px auto;
  font-size : 13.61px;
}
