.services {
  width : 100%;
}

.service-box {
  padding-top   : 15px;
  border        : 1px solid #e0e2e6;
  border-radius : 4px;
}

.services .service-directory {
  display    : block;
  margin     : 0;
  padding    : 6px 6px 13px 0;
  text-align : left;
  font-size  : 30px;
}

.services .service-directory p {
  display : inline-block;
  margin  : 0;
}

.services .add-service {
  width            : 145px;
  height           : 30px;
  float            : right;
  margin-top       : 5px;
  color            : white;
  border           : none;
  border-radius    : 4px;
  background-color : #87b448;
  font-size        : 14px;
}

.services .add-service:active {
  border           : none;
  background-color : #71973c;
}

.services .add-service:focus {
  border  : none;
  outline : none;
}
